# Core dependencies
Django>=5.2.7
django-ninja>=1.4.3
django-ninja-extra>=0.30.1
django-ninja-jwt>=5.3.9
python-dotenv>=0.19.0
pydantic>=2.5.0
pydantic-settings>=2.0.0
gunicorn>=20.1.0

# Development dependencies
pytest>=7.0.0
pytest-django>=4.5.0
black>=22.0.0
flake8>=4.0.0
mypy>=0.950
psutil~=7.1.0
loguru~=0.7.3